.section
{
	height: auto;
	width: 100%;
	padding: 100px;
	background-color: black;
	margin: 100px;
}


.textVisible
{
	opacity: 1;
	transform: translateY(25px);
	transition: transform 0.5s,
	font-size: 1.5em;
	font-weight: normal;
}



.canvas25{
	position: fixed;
	height: 400;
	width: 400;
}

.image
{
	display: flex;
}

.descript-image
{
	border-left: 3px white solid;
	color: white;
	font-size: 1.5em;
	font-weight: normal;
	-webkit-transform: translateY(0) scale(1);
	opacity:1;
	transform: translateY(0) scale(1);
	-webkit-transition:-webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
	transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}


.simulation-pas-confine
{
	
	background-color: rgba(0,0,0,0);
}



.section1
{
	margin-top: 0px;
	background-color: white ;
	width: 100%;
	z-index: 4;
	padding-top: 150px;
	padding-bottom: 150px;
}
.presentation
{
	width: 50%;
	position: relative;
	left: 25%;
	-webkit-transform: translateY(0) scale(1);
	opacity:1;
	transform: translateY(0) scale(1);
	-webkit-transition:-webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
	transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.section2
{
	margin-top: 0px;
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: black;
	width: 100%;
}

.section3
{
	margin-top: 0px;
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: white;
	width: 100%;
}
.intro
{
	font-size: 1.5em;
	text-align: center;
	font-weight: normal;
	-webkit-transform: translateY(0) scale(1);
	opacity:1;
	transform: translateY(0) scale(1);
	-webkit-transition:-webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
	transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}
}

.section4
{
	margin-top: 0px;
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: black;
	width: 100%;
}

.text_pas_confine
{
	font-size: 1.5em;
	color: black;
	border-right: 3px white solid;
	font-weight: normal;
	padding-top: 0px;
	background-color: #fff;

}



.para1{
	background: url("image_parallax.png");
	width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.para2{
	background: url("rue_vide.png");
	width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: black;
}

/*.ml1 {
  font-weight: 900;
  font-size: 3.5em;
}*/

/*.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}
*/
/*.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}*/

/*.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: rgb(0,0,0);
  transform-origin: 0 0;
}*/

/*.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }
*/

.abc
{
	{
	color: black;
	font-size: 3.5em;
	position: center;
	top: 50%;
	left: 75%;
	transform: translate();
}
}


.toto
{
	display: flex;
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}


.titi{
	width: 600px;
	height: 650px;
	padding-left: 60px;
}

.boite_bouton{
	padding-left: 150px;
	padding-top: 150px;
}


.porte_canvas{
	width: 1000px;
	height: 650;
	border-color: black;
	border: solid;
}



/*
#boutton_sans_confine{
	position: absolute;

}






#boutton_sans_confine:before{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border: 2px solid transparent;

}


/*
#boutton_sans_confine:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) scaleX(-15deg);
}*/

#boutton_sans_confine:hover:before {
	animation: hover 1s linear forwards;

}

#boutton_sans_confine:hover:after {
   transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}


@keyframes hover{
	0%{

		width: 0;
		height: 0;
		border-top-color: #fff;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;


	}


		50%{

		width: 100%;
		height: 0;
		border-top-color: #fff;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
		0%{

		width: 100%;
		height: 100%;
		border-top-color: #fff;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}


}*/