@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900display=swap');

.container
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.grd_container
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: black;
	position: relative;
}

.face
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}


.eyes
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}



.eye
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


.container .face
{
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: #ffcd00;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 20px;

}

