.header
{
	height: 100%;
	width: 100%;
	padding: 0px;
	background: white;
	position: relative;
	margin: 0px;
	top: 0px;
	margin-top: -55px
	
}


.grd_titre
{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 480px;
    top: 220px;
    background-color: rgba(0,0,0,1)
    margin: 0px;
}



.super_titre
{
	width: 100%;
	height: 100%;
	z-index: 0;	
	background-color: rgba(0,0,0,0.8);
	margin-top: 0px;
	position: absolute;
}

.boite_video
{
	margin: 0px;
	top: 0px;
	padding: 0px;
	width: auto;
}




