body
{
	

	background-color: white;
	width: 100%;
	margin: 0px;
	padding: 0px;
	cursor: url('virus.png'), auto;*/

}






.titre3
{
	color: white;
}


head
{
	background-color: black;
	visibility: hidden;
}



p
{
	background-color: rgba(0,0,0,0);
	color: black;
	font-size: 1.5em;
}

h2
{
	font-size: 2.5em;
	left: 75%;
	position: 75%;
}