nav
{
	
	background-color: rgba(0,0,0,0);
	height: auto;
	width: 100%;
	display: flex;
	position: fixed;
	top: 0px;
	z-index: 3;

}



.logo
{
	height: 40px;
	width: 40px;
	left: 20px;
	margin: 1rem;
	transition: 0.5s;
}

.logo:hover{
	height: 45px;
	width: 45px;
	transform: rotate(10deg);
}


li
{
	display: flex;
	width: 100%;
}
ul
{
	width: 100%;
}

